<footer class="row">
  <div class="six columns left">
                <p>Copyright&nbsp;&copy;&nbsp;2019 Matthew Mihok</p>
                <p>
                This site's theme is developed under the MIT License and is
                available on <a href="https://github.com/mihok/today-theme" alt="Source Code">github</a>
                </p>
            </div>
            <div class="six columns right">
                <a href="https://instagram.com/mattmihok"><i class="icon icon-social-circle">Instagram</i></a>
                <a href="https://facebook.com/mattmihok"><i class="icon icon-social-circle">Facebook</i></a>
                <a href="https://twitter.com/mattmattmatt"><i class="icon icon-social-circle">Twitter</i></a>
                <a href="https://www.linkedin.com/in/mihok"><i class="icon icon-social-circle">LinkedIn</i></a>
                <a href="https://github.com/mihok"><i class="icon icon-social-circle">Github</i></a>
                <a href="https://stackexchange.com/users/977219/mihok?tab=accounts"><i class="icon icon-social-circle">Stackexchange</i></a>
            </div>
        </footer>
