<header class="row">
            <div class="six columns left">
                <h1><a href="/" alt="{{@site.title}}"><span class="title protocol">mihok://</span><span class="title">{{@site.title}}</span></a></h1>
            </div>
            <div class="six columns right nav-access">
                <a href="#" alt="Open Navigation">
                    <i class="icon">Menu</i>
                </a>
                {{!
                <a href="#" alt="Change Theme">
                    <i class="icon">Controls</i>
                </a>
                }}
            </div>
        </header>
