{{!< default}}
            <div class="author-feed twelve columns">
                <div class="row">
                    {{#author}}
                    <div class="author-headline">
                      <h1>Showing posts written by: <span class="tag name">{{name}}</span></h1>
                    </div>
                    {{/author}}
                </div>
                <div class="row">
{{#foreach posts}}{{> "post"}}{{/foreach}}
                </div>
            </div>
